body {
    background-color: rgb(240, 240, 240);
}

.catalog-main {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    padding: 30px;
    margin-bottom: 20px;
}

.item-wrapper {
    height: 540px;
    width: 320px;
    background-color: rgb(249, 249, 249);
    border: 1px solid rgb(229, 229, 229);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.item-picture {
    width: 100%;
    height: auto;
    display: flex;
    flex-shrink: 0;
}

.item-description {
    font-weight: bolder;
    font-size: 22px;
    padding: 10px 0 20px;
}

.item-price {
    padding: 30px;
    font-size: 20px;
}

.add-to-cart {
    background-color: rgb(37, 37, 37);
    box-shadow: 6px 6px 8px inset rgb(27, 27, 27);
    color: white;
    border: none;
    width: 80%;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
}