body {
    background-color: #eee;
}

.catalog-main {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    padding: 30px;
    margin-bottom: 20px;
}

.item-wrapper {
    height: 400px;
    width: 360px;
    background-color: rgb(249, 249, 249);
    border: 2px solid #ddd;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
}

.item-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-bottom: 2px solid #ddd;
}

.item-picture {
    width: 80%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
}