@font-face {
    font-family: 'Roboto';
    src: url('./../assets/fonts/Roboto-Medium.ttf');
}

.header {
    position: fixed;
    top: 0;
    width: 100vw;
    max-width: 100%;
    height: 100px;
    background-color: rgb(37, 37, 37);
    box-shadow: 6px 6px 8px inset rgb(27, 27, 27);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.header-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
}

.brand {
    color: white;
    font-size: 42px;
    font-weight: bold;
    margin-left: 10vw;
}

.planet {
    height: 50px;
}

.header-element {
    font-weight: bold;
    font-size: 22px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    transition: 0.4s;
}

.header-icon {
    filter: invert(100%);
    height: 30px;
    margin-right: 40px;
    transition: 0.3s;
}

.header-element:hover,
.header-icon:hover {
    cursor: pointer;
    transform: translateY(-4px);
}

a,
a:visited {
    text-decoration: none;
    color: white;
}

@media (max-width: 800px) {
    .header {
        flex-direction: column;
        justify-content: space-around;
        height: 120px;
    }

    .brand {
        margin-left: 0;
    }

    .planet {
        height: 35px;
    }

    .header-icon {
        margin-right: 0;
        height: 24px;
    }
}

@media (max-width: 400px) {
    .header-wrapper {
        gap: 25px;
    }

    .header-element {
        font-size: 22px;
    }
}