@font-face {
    font-family: 'Roboto';
    src: url('./../assets/fonts/Roboto-Medium.ttf');
}

/* Main */
.homepage-main {
    background-image: url('./../assets/images/worldmap.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    z-index: 1;
    height: 700px;
}