@font-face {
    font-family: 'Roboto';
    src: url('./../assets/fonts/Roboto-Medium.ttf');
}

/* Main */
.homepage-main {
    margin-top: 100px;
    background-image: url('./../assets/images/worldmap.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    z-index: 1;
    height: 700px;
    animation: appear ease 1s;
}

@keyframes appear {
    0% {
        opacity: 60%;
    }
    100% {
        opacity: 100%;
    }
}

@media (max-width: 800px) {
    .homepage-main {
        margin-top: 120px;
    }
}